.Align{
    display: flex;
    flex-direction: row;
    position:absolute;
    justify-content:space-evenly;
    margin-left:30px;
    width:100%;
    top:50px;

}

.Total{
  font-size:1rem;
  font-weight:bold;
  margin-top:400px;
  margin-left:1000px;
  width:100%;
  
}


.Dash{
  height: 90px;
  background:rgb(10, 131, 36);
  border: 2px solid;
  width: 100%;
  
}

.Dash-text{
  font-size: 3rem;
  font-weight: bold;
  height: 80px;
  margin-left:70px;
}
h3{
  font-size:1.8rem;
  font-weight:bold;
}
.donut1{
  height:80px;

}
.donut1-text{
  margin-top:50px;
  margin-left: 200px;

}
.donut2{
  height:80px;

}

.donut2-text{
  margin-left:180px;
  margin-top:50px;

}

.donutchart{
  height: 300px;
  width: 500px;
}


.donutchart-innertext-label {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  position: absolute;
}

.donutchart-innertext-value {
  font-size: 36px;
  font-weight: bold;

}

.donutchart-arcs-path, .donutchart-legend-item-rect {
  fill-opacity: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: DrawLine, FillIn;

  animation-delay: .5s, 2s;
    animation-duration: 3s, 1s; 
    stroke-dashArray: 1500;
    stroke-dashoffset: 1500;
    pointer-events: none;
}

.donutchart-legend{
  opacity:0;
}
.selected.donutchart-legend-item-label, .toggled.donutchart-legend-item-label {
  opacity: 0;
  fill: #960b01;
}

.donutchart-legend-item-rect{
  opacity: 0;
}

@media only screen and (min-width: 768px){
  .Align { width: 100%;
            margin-left:70px;}
  .donutchart{width:100%;
              height:300px;}
  .donut1-text{margin-left:30%;}
  .donut2-text{margin-left:30%;}
}

@media only screen and (max-width: 768px){
  .Align { width: auto;
            margin-left:70px;}
  .donutchart{width:100%;
              height:auto;}
  .donut1-text{margin-left:20%;}
  .donut2-text{margin-left:20%;}
  .Total{margin-left:80%;
          margin-top:40%;}

}

  
  @keyframes DrawLine {
    to {
        stroke-dashOffset: 0;
    }
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}