@keyframes FadeIn{
    0%{
        opacity: 1;
    }
    55%{
        opacity: 0;
    }
    100%{   
        opacity: 0;
        width: 0;
    }
}
.Black-fade{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: FadeIn 1.2s ease-in 0s 1 forwards; 
    background-color: black;
}