.moneyimg{
   width: 100%;
   height: 300px;
   position: absolute;

}

.moneyy{
    width:100%;
    height:100%;
}

.responsive{
    position:absolute;
    width: 100%;
    height: 100%;
    top:300px;

}
.money-text{
    display:flex;
    position: absolute;
    top:25px;
    left:20px;
    width:100%;
}
h4{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.budgetimg{
    width:10px;
    height:10px;
    /*
    top:350px;
    left:50px;
    width:300px;
    height:300px;
*/
}

.spendingimg{
    width:10px;
    height:10px;
    /*
    top:340px;
    left:370px;
    width:330px;
    height:330px;
    */
}

.savingimg{
    width:10px;
    height:10px;
    /*
    top:345px;
    left:700px;
    width:330px;
    height:310px;
    */
}

.encryptimg{
    top:700px;
    left:600px;
    width:400px;
    height:250px;
    border-style: solid;
    border-width: 2px;
    border-color:#0F70F9;
}
.encrypt-text{
    position: absolute;
    top:-10px;
    left:-470px;
    width:100%;
    font-weight:bold;
  
}

.encrypt-text1{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:100px;
    left:-470px;
    width:100%;
}
.encryptback{ 
    background-color: rgb(158, 168, 185);
    opacity: 0.1;
    position:absolute;
    width:225%;
    left:-500px;
    top:0px;
    height:250px;
    background-position: center;
    background-repeat: no-repeat;
}

.billsimg{
    position: absolute;
    top:1030px;
    left:100px;
    width:400px;
    height:250px;
    border-style: solid;
    border-width: 2px;
    border-color:#0F70F9;
}

.bills-text{
    display:flex;
    position: absolute;
    top:-5px;
    left:470px;
    width:100%;
    font-weight:bold;
}

.bills-text1{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:80px;
    left:470px;
    width:100%;
}
.billsback{
    background-color: rgb(158, 168, 185);
    opacity: 0.1;
    position:absolute;
    width:225%;
    left:0px;
    top:0px;
    height:250px;
    background-position: center;
    background-repeat: no-repeat;


}
.billss{
width:10px;
height:10px;
}



