@keyframes vision {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.format{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    opacity:0;
    text-decoration-line: none; 
    -webkit-transition: cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: none;
    transition: width 2s;
}
.message{
    height: 100px;
    width: 100%;
    resize: none;
}
.alignit{
    position: absolute;
    left: 37vw;
    justify-content: center;
    width: 300px;
}
.submitForm{
    width: 140px;
    height: 50px;
    text-decoration-line: none;
    color:rgb(255, 255, 255);
    border-color:rgb(216, 213, 213);
    background-image:-webkit-linear-gradient(#88e333,#4ebb00);
    border-style: solid;
    border-radius: 10px;
    padding: 1%;
    font-family: 'Roboto Slab', serif;
    font-size: 180%;
    opacity: 0;
}
#name{
    animation: vision 0.4s ease-in 0.8s 1 forwards;
}
#name:hover{
    border-color:#88e333;
}
#email{
    animation: vision 0.4s ease-in 0.9s 1 forwards;
}
#email:hover{
    border-color:#88e333;
}
#subject{
    animation: vision 0.4s ease-in 1.0s 1 forwards;
}
#subject:hover{
    border-color:#88e333;
}
#message{
    animation: vision 0.4s ease-in 1.1s 1 forwards;
}
#message:hover{
    border-color:#88e333;
}
#submit{
    animation: vision 0.4s ease-in 1.2s 1 forwards;
}
#submit:hover{
    border-color:gray;
}

.back{
    background:#e3e3f1;
    width:100%;
    height:100%;
    transition:0.8s;
}

.contact-header{
    font-weight:bold;
    color:#3345e3;
    transition:0.8s;
    text-align: center;
}
.contact-headerbelow{
    font-weight:bold;
    color:#3345e3;
    transition:0.8s;
    text-align:center;
    margin-top:-2%;
}
.contactquestion{
    text-align:center;
    color:gray;
    font-size:1rem;
}


@media only screen and (max-width: 768px) {
    .alignit{
        left:25%;
    }
}